body {
  margin: 0;
  padding: 0;
  color: #34495e;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  overflow-x: hidden;
}
html {
  overflow: -moz-scrollbars-vertical;
}
/* 滚动槽 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 5px 12px;
  margin: 12px 0;
  display: block;
  font-weight: bold;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h1 {
  border-left: 3px solid #ed2000;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
h2 {
  border-left: 3px solid #FF1493;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
h3 {
  border-left: 3px solid #4169E1;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
h4 {
  border-left: 3px solid #3CB371;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}
h5 {
  border-left: 3px solid #FFC0CB;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}
h6 {
  border-left: 3px solid #585E8B;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}
/*ztree 开始*/
.ztree li span.button.chk {
  width: 13px;
  height: 13px;
  margin: 0 3px 0 0;
  cursor: auto;
}
.ztree li span.button.chk.checkbox_false_full {
  background-position: 0 0;
}
.ztree li span.button.chk.checkbox_false_full_focus {
  background-position: 0 -14px;
}
.ztree li span.button.chk.checkbox_false_part {
  background-position: 0 -28px;
}
.ztree li span.button.chk.checkbox_false_part_focus {
  background-position: 0 -42px;
}
.ztree li span.button.chk.checkbox_false_disable {
  background-position: 0 -56px;
}
.ztree li span.button.chk.checkbox_true_full {
  background-position: -14px 0;
}
.ztree li span.button.chk.checkbox_true_full_focus {
  background-position: -14px -14px;
}
.ztree li span.button.chk.checkbox_true_part {
  background-position: -14px -28px;
}
.ztree li span.button.chk.checkbox_true_part_focus {
  background-position: -14px -42px;
}
.ztree li span.button.chk.checkbox_true_disable {
  background-position: -14px -56px;
}
.ztree li span.button.chk.radio_false_full {
  background-position: -28px 0;
}
.ztree li span.button.chk.radio_false_full_focus {
  background-position: -28px -14px;
}
.ztree li span.button.chk.radio_false_part {
  background-position: -28px -28px;
}
.ztree li span.button.chk.radio_false_part_focus {
  background-position: -28px -42px;
}
.ztree li span.button.chk.radio_false_disable {
  background-position: -28px -56px;
}
.ztree li span.button.chk.radio_true_full {
  background-position: -42px 0;
}
.ztree li span.button.chk.radio_true_full_focus {
  background-position: -42px -14px;
}
.ztree li span.button.chk.radio_true_part {
  background-position: -42px -28px;
}
.ztree li span.button.chk.radio_true_part_focus {
  background-position: -42px -42px;
}
.ztree li span.button.chk.radio_true_disable {
  background-position: -42px -56px;
}
.ztree li span.button.switch {
  width: 18px;
  height: 18px;
}
.ztree li span.button.root_open {
  background-position: -92px -54px;
}
.ztree li span.button.root_close {
  background-position: -74px -54px;
}
.ztree li span.button.roots_open {
  background-position: -92px 0;
}
.ztree li span.button.roots_close {
  background-position: -74px 0;
}
.ztree li span.button.center_open {
  background-position: -92px -18px;
}
.ztree li span.button.center_close {
  background-position: -74px -18px;
}
.ztree li span.button.bottom_open {
  background-position: -92px -36px;
}
.ztree li span.button.bottom_close {
  background-position: -74px -36px;
}
.ztree li span.button.noline_open {
  background-position: -92px -72px;
}
.ztree li span.button.noline_close {
  background-position: -74px -72px;
}
.ztree li span.button.root_docu {
  background: none;
}
.ztree li span.button.roots_docu {
  background-position: -56px 0;
}
.ztree li span.button.center_docu {
  background-position: -56px -18px;
}
.ztree li span.button.bottom_docu {
  background-position: -56px -36px;
}
.ztree li span.button.noline_docu {
  background: none;
}
.ztree li span.button.ico_open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_close {
  margin-right: 2px;
  background-position: -110px 0;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_docu {
  margin-right: 2px;
  background-position: -110px -32px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.edit {
  margin-right: 2px;
  background-position: -110px -48px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.remove {
  margin-right: 2px;
  background-position: -110px -64px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_loading {
  margin-right: 2px;
  background: url(../imgs/loading.gif) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}
ul.tmpTargetzTree {
  background-color: #FFE6B0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
span.tmpzTreeMove_arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 1px;
  border: 0 none;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -110px -80px;
  background-image: url("../imgs/zTreeStandard.png");
  *background-image: url("../imgs/zTreeStandard.gif");
}
ul.ztree.zTreeDragUL {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #cfcfcf;
  border: 1px #00B83F dotted;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.zTreeMask {
  z-index: 10000;
  background-color: #cfcfcf;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
}
/*ztree 结束*/
.ztree * {
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial, serif;
  font-size: 15px;
}
.ztree {
  color: #333;
  padding: 0;
  margin: 0;
  font-size: 10pt;
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial, serif;
}
.ztree li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  white-space: nowrap;
  outline: 0;
  line-height: 30px;
}
.ztree li ul {
  padding: 0;
}
.ztree li a {
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 0 3px 0 0;
  color: #505d6b;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ztree li a span.button.switch {
  visibility: hidden;
}
.ztree li a:hover {
  text-decoration: none;
  background-color: #E7E7E7;
}
.ztree li a.curSelectedNode {
  padding-top: 0;
  color: black;
  border: 0 #FFB951 solid;
  opacity: 0.8;
  background-color: #D4D4D4;
  height: 30px;
}
.ztree li a.level0 span {
  font-size: 150%;
}
.ztree li span {
  margin-right: 2px;
  line-height: 30px;
}
.ztree li span.button {
  margin-top: -7px;
}
.ztree li span.button {
  line-height: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("../imgs/left_menuForOutLook.png");
  *background-image: url("../imgs/left_menuForOutLook.gif");
}
.ztree li span.button.switch {
  width: 16px;
  height: 16px;
}
.ztree li span.button.switch.level0 {
  width: 20px;
  height: 20px;
}
.ztree li span.button.switch.level1 {
  width: 20px;
  height: 20px;
}
.ztree li span.button.noline_open {
  background-position: 0 0;
}
.ztree li span.button.noline_close {
  background-position: -18px 0;
}
.ztree li span.button.noline_open.level0 {
  background-position: 0 -18px;
}
.ztree li span.button.noline_close.level0 {
  background-position: -18px -18px;
}
.ztree ul {
  margin: 0;
  padding: 0;
}
.ztree ul.line {
  background: url(../imgs/line_conn.gif) 0 0 repeat-y;
}
.ztree.showIcon li a span.button.switch {
  visibility: visible;
}
/*alert*/
.simplealert {
  display: block;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 1rem !important;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}
.simplealert * {
  line-height: 1;
}
.simplealert p {
  margin-bottom: 0;
}
.simplealert .title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  height: 30px;
  font-size: 13px;
  font-weight: 450;
}
.simplealert .title:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.simplealert div.data {
  margin-top: 0.5rem;
  font-size: 15px;
  word-spacing: 0.05rem;
}
.simplealert.note {
  border-left-color: #17a2b8 !important;
}
.simplealert.note .title:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='%2317a2b8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 16A8 8 0 108 0a8 8 0 000 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 100-2 1 1 0 000 2z'/%3E%3C/svg%3E");
}
.simplealert.note .title {
  color: #17a2b8;
}
.simplealert.tip {
  border-left-color: #28a745 !important;
}
.simplealert.tip .title:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='1em' height='1em' viewBox='0 0 352 512' fill='%2328a745' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0026.64 14.28h61.71a31.99 31.99 0 0026.64-14.28l17.09-25.69a31.989 31.989 0 005.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z'/%3E%3C/svg%3E");
}
.simplealert.tip .title {
  color: #28a745;
}
.simplealert.warning {
  border-left-color: #f0ad4e !important;
}
.simplealert.warning .title:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='1em' height='1em' viewBox='0 0 17 16' fill='%23f0ad4e' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8.982 1.566a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 5zm.002 6a1 1 0 100 2 1 1 0 000-2z'/%3E%3C/svg%3E");
}
.simplealert.warning .title {
  color: #f0ad4e;
}
.simplealert.attention {
  border-left-color: #dc3545 !important;
}
.simplealert.attention .title:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='%23dc3545' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z'/%3E%3Cpath fill-rule='evenodd' d='M11.354 4.646a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708l6-6a.5.5 0 01.708 0z'/%3E%3C/svg%3E");
}
.simplealert.attention .title {
  color: #dc3545;
}
/*alert*/
.storages {
  max-width: 1280px;
  margin: 0 auto;
}
.storages .storage-new {
  margin: 10px 0;
}
.storages .storage {
  height: 31px;
  line-height: 31px;
}
.bd-navbar {
  position: sticky;
  top: 0;
  z-index: 1071;
  background-color: #7952b3;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.main-container {
  width: calc(100% - 60px);
  margin: 0 auto;
}
.main-container .bd-sidebar {
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(100vh - 4rem);
  order-right: 1px solid rgba(0, 0, 0, 0.1);
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 272px;
  overflow-x: auto;
  overflow-y: auto;
}
.main-container .bd-sidebar .nav-column {
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  width: 100%;
}
.main-container .bd-sidebar .nav-column:hover {
  text-decoration: none;
  background-color: #E3E3E3;
}
.main-container .bd-content {
  /*margin-top: 20px;*/
  padding: 20px 70px;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  width: calc(100% - 273px);
}
.main-container .bd-content .detail-title {
  margin: 0;
}
.main-container .bd-content .detail-body {
  margin-top: 15px;
}
.main-container .bd-content .detail-body img {
  cursor: pointer;
}
.main-container .bd-content .detail-body .mce-toc {
  position: sticky;
  top: 0;
  float: right;
  max-width: 350px;
  z-index: 200;
}
.main-container .bd-content .mce-content-body {
  padding: 20px 20px !important;
}
.main-container .edit-content {
  max-width: 1380px;
  width: 100%;
  margin: 13px auto 0 auto;
}
@media screen and (max-width: 1440px) {
  .main-container .bd-content {
    padding: 20px 0;
  }
}
.index-main-box {
  max-width: 980px;
  width: 80%;
  margin: 0 auto;
}
.mce-content-body {
  padding: 10px 10px !important;
}
/*# sourceMappingURL=style.css.map */