<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.thin.mapper.ArticleColumnMapper">
    
    <cache-ref namespace="wiki.thin.mapper.ArticleColumnMapper"/>

    <insert id="insertSelective" parameterType="wiki.thin.entity.PostColumn">
        insert into article_column
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            `path`,
            `title`,
            `sharable`,
            <if test="content != null">
                content,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            #{path},
            #{title},
            #{sharable},
            <if test="content != null">
                #{content},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="lastModifiedBy != null">
                #{lastModifiedBy},
            </if>
        </trim>
    </insert>
    <update id="updateByIdSelective" parameterType="wiki.thin.entity.PostColumn">
        update article_column
        <set>
            <if test="path != null">
                `path` = #{path},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by = #{lastModifiedBy},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>