<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.thin.mapper.ArticleViewHistoryMapper">
    <resultMap id="BaseResultMap" type="wiki.thin.entity.ArticleViewHistory">
        <!--@mbg.generated-->
        <!--@Table article_view_history-->
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, article_id, created_by, last_modified_date
    </sql>

</mapper>