<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.thin.mapper.ArticleHistoryMapper">
  <resultMap id="BaseResultMap" type="wiki.thin.entity.ArticleHistory">
    <!--@mbg.generated-->
    <!--@Table article_history-->
    <id column="id" property="id" />
    <result column="article_id" property="articleId" />
    <result column="title" property="title" />
    <result column="content" property="content" />
    <result column="parent_id" property="parentId" />
    <result column="column_id" property="columnId" />
    <result column="sharable" property="sharable" />
    <result column="version" property="version" />
    <result column="modified_by" property="modifiedBy" />
    <result column="modified_date" property="modifiedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, article_id, title, content, parent_id, column_id, sharable, version, modified_by, 
    modified_date
  </sql>

</mapper>