<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.thin.mapper.StorageFileMapper">

    <cache-ref namespace="wiki.thin.mapper.StorageFileMapper"/>

    <insert id="insertSelective" parameterType="wiki.thin.entity.StorageFile">
        insert into storage_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            target_id,
            <if test="originalFileName != null">
                `original_file_name`,
            </if>
            <if test="suffix != null">
                suffix,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="contentType != null">
                content_type,
            </if>
            <if test="relativePath != null">
                relative_path,
            </if>
            <if test="storageId != null">
                storage_id,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            #{targetId},
            <if test="originalFileName != null">
                #{originalFileName},
            </if>
            <if test="suffix != null">
                #{suffix},
            </if>
            <if test="fileSize != null">
                #{fileSize},
            </if>
            <if test="contentType != null">
                #{contentType},
            </if>
            <if test="relativePath != null">
                #{relativePath},
            </if>
            <if test="storageId != null">
                #{storageId},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="lastModifiedBy != null">
                #{lastModifiedBy},
            </if>
        </trim>
    </insert>
</mapper>