<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.thin.mapper.StorageFileMapper">
    <resultMap id="BaseResultMap" type="wiki.thin.entity.StorageFile">
        <!--@mbg.generated-->
        <!--@Table storage_file-->
        <id column="id" property="id"/>
        <result column="target_id" property="targetId"/>
        <result column="original_file_name" property="originalFileName"/>
        <result column="suffix" property="suffix"/>
        <result column="file_size" property="fileSize"/>
        <result column="content_type" property="contentType"/>
        <result column="relative_path" property="relativePath"/>
        <result column="storage_id" property="storageId"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, target_id, original_file_name, suffix, file_size, content_type, relative_path,
        storage_id, created_by, created_date, last_modified_by, last_modified_date
    </sql>

    <!--    <cache-ref namespace="wiki.thin.mapper.StorageFileMapper" />-->
</mapper>