<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.thin.mapper.StorageMapper">

    <cache-ref namespace="wiki.thin.mapper.StorageMapper"/>

    <insert id="insertSelective" parameterType="wiki.thin.entity.Storage">
        insert into storage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            `name`,
            <if test="description != null">
                `description`,
            </if>
            <if test="workType != null">
                work_type,
            </if>
            <if test="refStorageType != null">
                ref_storage_type,
            </if>
            <if test="refStorageId != null">
                ref_storage_id,
            </if>
            <if test="mainStorageId != null">
                main_storage_id,
            </if>
            <if test="writable != null">
                writable,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            #{name},
            <if test="description != null">
                #{description},
            </if>
            <if test="workType != null">
                #{workType},
            </if>
            <if test="refStorageType != null">
                #{refStorageType},
            </if>
            <if test="refStorageId != null">
                #{refStorageId},
            </if>
            <if test="mainStorageId != null">
                #{mainStorageId},
            </if>
            <if test="writable != null">
                #{writable},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="lastModifiedBy != null">
                #{lastModifiedBy},
            </if>
        </trim>
    </insert>
    <update id="updateByIdSelective" parameterType="wiki.thin.entity.Storage">
        update storage
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                `description` = #{description},
            </if>
            <if test="workType != null">
                work_type = #{workType},
            </if>
            <if test="refStorageType != null">
                ref_storage_type = #{refStorageType},
            </if>
            <if test="refStorageId != null">
                ref_storage_id = #{refStorageId},
            </if>
            <if test="mainStorageId != null">
                main_storage_id = #{mainStorageId},
            </if>
            <if test="writable != null">
                writable = #{writable},
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by = #{lastModifiedBy},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>