<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.thin.mapper.StorageMapper">
    <resultMap id="BaseResultMap" type="wiki.thin.entity.Storage">
        <!--@mbg.generated-->
        <!--@Table `storage`-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="work_type" property="workType"/>
        <result column="ref_storage_type" property="refStorageType"/>
        <result column="ref_storage_id" property="refStorageId"/>
        <result column="main_storage_id" property="mainStorageId"/>
        <result column="writable" property="writable"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, description, work_type, ref_storage_type, ref_storage_id, main_storage_id,
        writable, created_by, created_date, last_modified_by, last_modified_date
    </sql>

    <!--    <cache-ref namespace="wiki.thin.mapper.StorageMapper" />-->
</mapper>